body {
    background-color: rgb(38, 177, 145);
}



header {
  text-align: center;

}
.result {
  display: flex;
  flex-direction: column;
}

.result button {
  background-color: rgb(117, 123, 121);
  font-size: 1.5em;
}
button:hover{
  box-shadow: 0 0 10px blue;
  
}